<footer class="bg-dark text-white py-4 mt-5">
  <div class="container text-center">
    <div class="row">

      <!-- Social Icons Section -->
      <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <div class="f-info-socials">
          <a href="https://www.facebook.com" target="_blank" class="text-white me-3 fs-4">
            <i class="fa-brands fa-square-facebook"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank" class="text-white me-3 fs-4">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
          <a href="https://www.linkedin.com" target="_blank" class="text-white fs-4">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>

      <!-- Company Info Section -->
      <div class="col-md-4 mb-3">
        <h5>Travel Private Limited</h5>
        <p class="small mb-0">© 2024 Travel Pvt Ltd. All Rights Reserved.</p>
      </div>

      <!-- Privacy and Terms Section -->
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <div class="socials">
          <a href="/privacy" class="text-white me-3 text-decoration-none">Privacy</a>
          <a href="/terms" class="text-white text-decoration-none">Terms</a>
        </div>
      </div>

    </div>
  </div>
</footer>